:root {
  --black: #0e0b16;
  --white: #e7dfdd;
  --purple: #813772;
  --purple-bright: #a239ca;
  --blue: #062f4f;
  --blue-bright: #4717f6;
  --red: #b82601;
}

body {
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  outline: none;
  border-radius: 3px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--white);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--white);
}

h1 {
  margin: 0;
  padding: 1.5rem 0;
}

a:link,
a:visited {
  color: var(--purple-bright);
  text-decoration: none;
  transition: 0.25s;
}

a:hover,
a:active {
  color: var(--blue-bright);
}

.page-wrapper {
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
}

.page-header {
  line-height: 1.35;
}

.page-footer {
  padding: 1.5rem 0;
}

.coin-nav {
  overflow: auto;
}

.coin-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background: #e7dfdd20;
}

.coin-nav ul > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 50%;
}

.coin-nav ul > li > button {
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button > image {
  pointer-events: none;
}

.search-section {
  padding: 0;
  margin: 1.5rem 0;
}

.search-field-wrapper {
  background: blue;
  position: relative;
  margin-right: 104px; /*  110px */
}

.search-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: var(--purple);
  color: var(--white);
}
.search-field:focus {
  background-color: var(--white);
  color: var(--black);
}

.search-button {
  display: block;
  width: 100px;
  padding: 0.5rem 0;
  margin-left: 0.25rem;
  font-size: 1rem;
  border: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
}
.search-button:hover {
  background-color: var(--purple-bright);
}

.search-suggestions-wrapper {
  max-height: 30vh;
  overflow: auto;
  margin-top: 1px;
}

.search-suggestion {
  cursor: pointer;
  color: var(--black);
  background: var(--white);
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--black);
}

.search-suggestion:hover {
  background-color: var(--purple);
  color: var(--white);
}
.details header {
  text-align: center;
}
.details header .current-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-red {
  color: red;
}
.text-green {
  color: lime;
}
