@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400;700&display=swap");

:root {
  --black: #0e0b16;
  --gray: #777;
  --gray-dark: #444;
  --white: #e7dfdd;
  --purple: #813772;
  --purple-bright: #a239ca;
  --blue: #062f4f;
  --blue-bright: #4717f6;
  --red: #ff0a0a;
  --red-dark: #b30606;
  --green: #1aff1a;
  --green-dark: #008800;
  --yellow: #feff01;
}

body {
  background: var(--black);
  color: var(--white);
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Ubuntu Mono", "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--black);
}
.page-wrapper ::-webkit-scrollbar {
  height: 0.25em;
}
::-webkit-scrollbar-corner {
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  outline: none;
  border-radius: 3px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--purple);
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--white);
}

h1 {
  margin: 0;
  text-align: left;
  padding: 0.75em 0;
  font-size: 1.25rem;
  text-shadow: 1px 1px 4px #00000088;
}

h2 {
  margin-bottom: 1.125em;
}

label.hidden {
  visibility: hidden;
  display: block;
  height: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="password"] {
  color: var(--purple-bright);
  width: 100%;
  background: none;
  border: 1px solid var(--purple);
  border-radius: 0.25em;
  padding: 0.75em;
  font-size: 1rem;
  outline: none;
  transition: 0.25s;
}
input[type="email"]:hover,
input[type="password"]:hover,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--purple-bright);
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: var(--purple-bright);
}
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 0.25em var(--purple);
}
input[type="email"]:autofill,
input[type="password"]:autofill {
  background-color: none !important;
  color: var(--purple-bright);
}
input[type="email"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="email"]:-internal-autofill-selected,
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="email"]:-internal-autofill-selected {
  background-color: none !important;
  color: var(--purple-bright) !important;
  box-shadow: 0 0 0px 1000px var(--black) inset; /* chrome */
  -webkit-text-fill-color: var(--purple-bright); /* chrome */
}

a:link,
a:visited {
  color: var(--purple-bright);
  text-decoration: none;
  transition: 0.125s;
}
a:hover,
a:active {
  color: var(--purple);
}
a:focus {
  outline: 0.125rem solid var(--purple);
}

.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}
.alert-error {
  background: var(--red-dark);
  width: fit-content;
  padding: 1em;
  border-radius: 0.25em;
}
.alert-success {
  background: var(--green-dark);
  width: fit-content;
  padding: 1em;
  border-radius: 0.25em;
}
.page-not-found {
  margin-top: 1.5em;
  text-align: center;
}
a.discreet-link:link,
a.discreet-link:visited {
  color: var(--white);
  outline: none;
}

.outlined-button {
  color: var(--purple);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  background: none;
  border: 0.125rem solid var(--purple);
  border-radius: 0.2rem;
  padding: 0.75em 1.5em;
  outline: none;
  cursor: pointer;
  transition: 0.125s;
}
.outlined-button:hover,
.outlined-button:focus {
  color: var(--purple-bright);
  border-color: var(--purple-bright);
}
.outlined-button:focus {
  box-shadow: 0 0 0.25em var(--purple);
}
.outlined-button:disabled {
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}
.outlined-button:disabled svg {
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}
.outlined-button.red {
  color: var(--red-dark);
  border-color: var(--red-dark);
}
.outlined-button.red:hover,
.outlined-button.red:focus {
  color: var(--red);
  border-color: var(--red);
}
.outlined-button.red:focus {
  box-shadow: 0 0 0.5em var(--red-dark);
}

.button-link {
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  color: var(--purple-bright);
  cursor: pointer;
  text-decoration: underline;
}
.button-link:hover {
  color: var(--purple);
}
.button-link:focus {
  outline: 0.125rem solid var(--purple);
}

.page-wrapper {
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
  padding: 0 0.75em;
}

.page-header-wrapper {
  margin: 0 0 1.5em;
  background: linear-gradient(var(--purple-bright), var(--purple));
}

.page-header {
  min-width: 285px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0.75em;
  position: relative;
  line-height: 1.35;
}

.page-header > h1 img {
  margin-right: 0.25em;
  margin-bottom: -0.18em;
}

.sign-in-header-button,
.account-button {
  position: absolute;
  top: 0;
  right: 0.75em;
  margin: 0.9em 0 0;
  padding: 0.5em 0.75em;
  color: var(--white);
  background: none;
  outline: none;
  border: 0.125rem solid var(--white);
  border-radius: 100%;
  cursor: pointer;
}
.sign-in-header-button:hover,
.account-button:hover,
.account-img-button:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}
.sign-in-header-button:focus,
.account-button:focus,
.account-img-button:focus {
  border-color: var(--yellow);
}
.sign-in-header-button:focus svg,
.account-button:focus svg {
  color: var(--yellow);
}
.sign-in-header-button svg,
.account-button svg {
  font-size: 1rem;
}
.sign-in-header-button {
  padding-left: 0.625em;
}

.account-img-button {
  display: block;
  height: 2.575em;
  width: 2.825em;
  position: absolute;
  top: 0;
  right: 0.75em;
  margin: 0.9em 0 0;
  padding: 0;
  background: none;
  outline: none;
  border: 0.125rem solid var(--white);
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}
.account-img-button > img {
  width: 100%;
  height: auto;
  pointer-events: none;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  top: -0.125rem;
}

.coin-nav {
  overflow: auto;
}
.coin-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.coin-nav ul > li {
  padding: 0.25em 0.25em 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.coin-nav ul > li:first-child {
  padding-left: 0;
}
.coin-nav ul > li > .star {
  pointer-events: none;
  color: var(--yellow);
  position: absolute;
  top: 0px;
  right: -2px;
}
.coin-nav .star path {
  filter: drop-shadow(-0.5em 1em 3em var(--black));
}
.coin-nav ul > li > button {
  display: block;
  color: var(--gray);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: center;
}
.coin-nav button > span {
  font-family: "Ubuntu Mono", "Courier New", monospace;
  display: inline-block;
  padding: 0.25rem 0;
  transition: ease 0.25s;
  border-bottom: 0.15rem solid var(--black);
}
.coin-nav button:hover > span,
.coin-nav button:focus > span {
  color: var(--purple-bright);
}
.coin-nav button:focus > span {
  border-color: var(--purple-bright);
}
.coin-nav button > img {
  pointer-events: none;
  display: inline-block;
}

.search {
  padding: 0;
  margin: 1.1rem 0 2.5rem;
}

.details header {
  text-align: center;
}
.details .logo-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.details .logo-wrapper button {
  display: inline-block;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 2rem;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}
.details .logo-wrapper button:hover {
  color: var(--purple-bright);
  border-color: var(--purple-bright);
}
.details .logo-wrapper button:hover svg {
  color: var(--purple-bright);
}
.details .logo-wrapper button:focus {
  color: var(--purple-bright);
  border-color: var(--purple-bright);
}
.details .logo-wrapper button:focus svg {
  color: var(--purple-bright);
}
.details .star {
  margin-left: -0.125em;
  color: var(--yellow);
}
.details .star path {
  filter: drop-shadow(-0.5em 1em 3em var(--black));
}
.details h2 {
  margin: 1em 0 0;
}
.details h2 small {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Ubuntu Mono", "Courier New", monospace;
}
.details header .current-price {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0.5em 0 1em;
}

.settings {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.125em;
}

.sign-in,
.sign-up,
.account,
.reset-password {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.sign-in .alert-error,
.sign-up .alert-error,
.account .alert-error,
.reset-password .alert-error {
  width: 100%;
  box-sizing: border-box;
}

.sign-in form,
.sign-up form {
  margin-bottom: 1.75rem;
}

.sign-in form .outlined-button,
.sign-up form .outlined-button,
.account .outlined-button,
.reset-password .outlined-button {
  font-size: 0.9rem;
}

.sign-in .outlined-button,
.sign-up .outlined-button,
.account .outlined-button,
.reset-password .outlined-button {
  width: 100%;
}

.sign-in-handler-button {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  margin-bottom: 0.75em;
}
.sign-in-handler-button svg {
  margin-right: 0.5em;
  font-size: 1rem;
  color: var(--purple-bright);
}

.account h3 {
  margin-top: 2.25rem;
}
.account .preferred-currency .alert-error,
.account .preferred-currency .alert-success {
  margin-bottom: 1em;
}

.page-footer {
  padding: 1.5rem 0;
}

.page-footer ul {
  border-top: 1px solid var(--purple);
  padding: 0.75rem 0 0;
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
  color: var(--gray);
}

.page-footer li {
  list-style: none;
  display: block;
  position: relative;
  text-align: right;
  padding: 0.5rem 0;
}

/* Loader */
.loader {
  color: var(--purple-bright);
  font-size: 1rem;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loading 1.3s infinite linear;
  animation: loading 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.imageRotateHorizontal {
  -moz-animation: spinHorizontal 3s infinite linear;
  -o-animation: spinHorizontal 3s infinite linear;
  -webkit-animation: spinHorizontal 3s infinite linear;
  animation: spinHorizontal 3s infinite linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
