.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}
.alert-error,
.alert-success {
  padding: 1em;
  border-radius: 0.25em;
  width: fit-content;
  line-height: 1.35;
}
.alert-error {
  background: var(--red-dark);
}
.alert-success {
  background: var(--green-dark);
}
.page-not-found {
  margin-top: 1.5em;
  text-align: center;
}

.outlined-button {
  color: var(--purple);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  background: none;
  border: 0.125rem solid var(--purple);
  border-radius: 0.2rem;
  padding: 0.75em 1.5em;
  outline: none;
  cursor: pointer;
  transition: 0.125s;
}
.outlined-button:hover,
.outlined-button:focus {
  color: var(--purple-bright);
  border-color: var(--purple-bright);
}
.outlined-button:focus {
  box-shadow: 0 0 0.25em var(--purple);
}
.outlined-button:disabled {
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}
.outlined-button:disabled svg {
  color: var(--gray-dark);
  border-color: var(--gray-dark);
}
.outlined-button.red {
  color: var(--red-dark);
  border-color: var(--red-dark);
}
.outlined-button.red:hover,
.outlined-button.red:focus {
  color: var(--red);
  border-color: var(--red);
}
.outlined-button.red:focus {
  box-shadow: 0 0 0.5em var(--red-dark);
}

.button-link {
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  color: var(--purple-bright);
  cursor: pointer;
  text-decoration: underline;
}
.button-link:hover {
  color: var(--purple);
}
.button-link:focus {
  outline: 0.125rem solid var(--purple);
}

.sign-in,
.sign-up,
.account,
.reset-password {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.sign-in .alert-error,
.sign-up .alert-error,
.account .alert-error,
.reset-password .alert-error {
  width: 100%;
  box-sizing: border-box;
}

.sign-in form,
.sign-up form {
  margin-bottom: 1.75rem;
}

.sign-in form .outlined-button,
.sign-up form .outlined-button,
.account .outlined-button,
.reset-password .outlined-button {
  font-size: 0.9rem;
}

.sign-in .outlined-button,
.sign-up .outlined-button,
.account .outlined-button,
.reset-password .outlined-button {
  width: 100%;
}

.sign-in-handler-button {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  margin-bottom: 0.75em;
}
.sign-in-handler-button svg {
  margin-right: 0.5em;
  font-size: 1rem;
  color: var(--purple-bright);
}

.account h3 {
  margin-top: 2.25rem;
}
.account .preferred-currency .alert-error,
.account .preferred-currency .alert-success,
.account .preferred-timeframe .alert-error,
.account .preferred-timeframe .alert-success {
  margin-bottom: 1em;
}

.page-footer {
  padding: 1.5rem 0;
}

.page-footer ul {
  border-top: 1px solid var(--purple);
  padding: 0.75rem 0 0;
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
  color: var(--gray);
}

.page-footer li {
  list-style: none;
  display: block;
  position: relative;
  text-align: right;
  padding: 0.5rem 0;
}

/* Loader */
.loader {
  color: var(--purple-bright);
  font-size: 1rem;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loading 1.3s infinite linear;
  animation: loading 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@-webkit-keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
