@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400;700&display=swap");

:root {
  --black: #0e0b16;
  --gray: #777;
  --white: #e7dfdd;
  --purple: #813772;
  --purple-bright: #a239ca;
  --blue: #062f4f;
  --blue-bright: #4717f6;
  --red: #ff0a0a;
  --green: #1aff1a;
}

body {
  background: var(--black);
  color: var(--white);
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Ubuntu Mono", "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.25em;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  outline: none;
  border-radius: 3px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--purple);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--white);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--white);
}

h1 {
  margin: 0;
  text-align: center;
  padding: 0.75em 0;
  font-size: 1.25rem;
  text-shadow: 1px 1px 4px #00000088;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:link,
a:visited {
  color: var(--purple);
  text-decoration: none;
  transition: 0.25s;
}
a:hover,
a:active {
  color: var(--purple-bright);
}
a:focus {
  outline: 0.125rem solid var(--purple-bright);
}

.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}

.button-link {
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  color: var(--purple);
  cursor: pointer;
}
.button-link:hover {
  color: var(--purple-bright);
}
.button-link:focus {
  outline: 0.125rem solid var(--purple-bright);
}

.page-wrapper {
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
  padding: 0 0.75em;
}

.page-header {
  min-width: 285px;
  line-height: 1.35;
  margin: 0 0 1.5em;
  background: linear-gradient(var(--purple-bright), var(--purple));
}

.page-footer {
  padding: 1.5rem 0;
}

.coin-nav {
  overflow: auto;
}
.coin-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.coin-nav ul > li {
  padding: 0 0.25rem;
  margin: 0;
  list-style-type: none;
}
.coin-nav ul > li:first-child,
.coin-nav ul > li:last-child {
  padding: 0;
}
.coin-nav ul > li > button {
  display: block;
  color: var(--gray);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: center;
}
.coin-nav button > span {
  font-family: "Ubuntu Mono", "Courier New", monospace;
  display: inline-block;
  padding: 0.25rem 0;
}
.coin-nav button:hover > span,
.coin-nav button:focus > span {
  color: var(--purple-bright);
}
.coin-nav button:focus > span {
  border-bottom: 0.15rem solid var(--purple-bright);
}
.coin-nav button > img {
  pointer-events: none;
  display: inline-block;
}

.search {
  padding: 0;
  margin: 1.25rem 0 1.5rem;
}

.details header {
  text-align: center;
}
.details h2 {
  margin: 1em 0 0;
}
.details h2 small {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Ubuntu Mono", "Courier New", monospace;
}
.details header .current-price {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0.5em 0 1em;
}

.settings {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.125em;
}

.page-footer ul {
  border-top: 1px solid var(--purple);
  padding: 0.75rem 0 0;
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
  color: var(--gray);
}

.page-footer li {
  list-style: none;
  display: block;
  position: relative;
  text-align: right;
  padding: 0.5rem 0;
}

/* Loader */
.loader {
  color: var(--purple-bright);
  font-size: 1rem;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loading 1.3s infinite linear;
  animation: loading 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes loading {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
