:root {
  --black: #0e0b16;
  --white: #e7dfdd;
  --purple: #813772;
  --purple-bright: #a239ca;
  --blue: #062f4f;
  --blue-bright: #4717f6;
  --red: #b82601;
}

body {
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  padding: 1.5rem 0;
}

a:link,
a:visited {
  color: var(--purple-bright);
  text-decoration: none;
  transition: 0.25s;
}

a:hover,
a:active {
  color: var(--blue-bright);
}

.page-header {
}

.page-footer {
  padding: 1.5rem 0;
}

.coin-nav {
  overflow: auto;
}

.coin-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background: #e7dfdd20;
}

.coin-nav ul > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* background-color: var(--white); */
  border-radius: 50%;
}

.coin-nav ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
  /* padding: 5px 0 0 0; */
}

.coin-nav img {
  /* padding: 5px 0 0 0; */
}
