:root {
  --black: #0e0b16;
  --white: #e7dfdd;
  --purple: #813772;
  --purple-bright: #a239ca;
  --blue: #062f4f;
  --blue-bright: #4717f6;
  --red: #b82601;
}

body {
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  padding: 1.5rem 0;
}

a:link,
a:visited {
  color: var(--purple-bright);
  text-decoration: none;
  transition: 0.25s;
}

a:hover,
a:active {
  color: var(--blue-bright);
}

.page-wrapper {
  max-width: 700px;
  min-width: 260px;
  margin: 0 auto;
}

.page-header {
}

.page-footer {
  padding: 1.5rem 0;
}

.coin-nav {
  overflow: auto;
}

.coin-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background: #e7dfdd20;
}

.coin-nav ul > li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 50%;
}

.coin-nav ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
}

.search-section {
  padding: 0;
  margin: 1.5rem 0;
}

.search-field-wrapper {
  background: blue;
  position: relative;
  margin-right: 110px;
}

.search-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.search-button {
  display: block;
  width: 100px; /* this is the `button width` */
  padding: 0.5rem 0;
  margin-left: 0.5rem; /* this is the `button distance from search field` */
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 100%; /* push to the right! */
}

.search-suggestions-wrapper {
  max-height: 30vh;
  overflow: auto;
}

.search-suggestion {
  cursor: pointer;
  color: var(--black);
  background: var(--white);
  font-size: 1rem;
  padding: 0.5rem;
}

.search-suggestion:hover {
  background-color: var(--purple);
  color: var(--white);
}
